* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}
body {
    background: linear-gradient(135deg, #faf9f8, #e8e8e8);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lgn-box {
    width: 380px;
    background: white;
    padding: 3em;
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.15);
    text-align: center;
}
p{
    margin-bottom: 2em;
}
.lgn-box h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}
.inp-grp {
    text-align: left;
    margin-bottom: 1.5em;
}
.inp-grp label {
    font-size: 1em;
    color:#4a4a4a;
    margin-bottom: 0.5em;
    display: block;
}
.inp-grp input {
    width: 100%;
    padding: 0.9em;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 1em;
    transition: border 0.2s;
}
.inp-grp input:focus {
    border-color: #d8465c;
}
.lgn-btn {
    width: 100%;
    padding: 0.9em;
    background: #d8465c;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 0.5em;
    transition: 0.2s;
}
.lgn-btn:hover {
    background: #c23c52;
}
.extra-links {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
}
.extra-links a {
    font-size: 1em;
    color: #d8465c;
    text-decoration: none;
}
.extra-links a:hover {
    text-decoration: underline;
}